.navbar {
    background-color: #0DC965;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000px;
   
}

.navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 20px ;
    text-decoration: none;
    font-size: 18px ;
}   

.navbar a:hover {
    background-color: #08B559;
    color: white;
}

/* Styling for responsive navigation */
@media screen and (max-width: 600px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

body {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
